    <div class="row">
      <div class="col-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th *ngFor="let col of cols">{{ col.text }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products" [id]="'tablerow_' + product['id']">
              <td *ngFor="let col of cols">
                <input *ngIf="col.editable && col.datatype === 'text'" [(ngModel)]="product[col.key]" type="text" class="form-control">
                <input *ngIf="col.editable && col.datatype === 'image'" [(ngModel)]="product[col.key]" type="text" class="form-control">
                <input *ngIf="col.editable && col.datatype === 'number'" [(ngModel)]="product[col.key]" type="text" class="form-control">
                <input *ngIf="col.editable && col.datatype === 'bool'" [(ngModel)]="product[col.key]" type="checkbox" class="form-control" style="height: 20px;">
                <span *ngIf="!col.editable">{{ product[col.key] }}</span>
                <img *ngIf="col.datatype === 'image'" [src]="product[col.key]" style="width: 150px;">
              </td>
              <td>
                <div class="btn-group">
                  <button (click)="onUpdate(product, product['id'])" class="btn btn-info">
                    <i class="fa fa-refresh"></i>
                  </button>
                  <button (click)="onDelete(product, product['id'])" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>